* {
  margin: 0;
  padding: 0;
}

.sidebar {
  position:absolute;
  background-color: rgb(163, 155, 155); 
  font-family: sans-serif;
  height:100vh;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  padding: 45px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;

}
  
.main {
 /* background-color: yellow; */
  width: 90vw;
}

.container {
  display: flex;
}

.infoContainer{
  /* background-color: rgb(225, 33, 107); */
    height: 58vh;
    width: 80vw ;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hello{
    font-size: 65px;
}

.name{
    font-size: 50px;
    font-weight:bold;
    font-family: sans-serif;
}
.about{
    font-size: 40px;
}

.moreabout{
  font-size: 22px;
  margin-top: 23px;
  font-family: sans-serif;
}

.buttons{
  margin-top: 34px ;
}

.buttons button{
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  margin:0 3 px;
  cursor: pointer;
}

.button:hover{
  background-color: white;
  color: dodgerblue;
}

.Pic img{
    height: 58vh;  
 }

 .contactform {
  padding-top: 144px;
  padding: 0 34px;
  font-family: sans-serif;
 }

 .contactform h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.contactform form div {
  padding: 10px 0;
}

#emailHelp{
  font-size: 11px;
  color:midnightblue;
  margin: 0 5px;
  padding: 3px 0 0 0;
}
  
.blogItem {
  margin: 20px;
  font-family: sans-serif;
}

.blogContainer{
  margin: 40px 88px;
}
h1{
  font-family: sans-serif;
  margin: 23px;
}

p{
  font-family: 'Times New Roman', Times, serif;
}

.intro{
  margin: 40px 88px;
}
.intro h2{
  font-family: sans-serif;
  margin: 12px;
}

intro p{
  font-family: 'Times New Roman', Times, serif;
  margin: 12px;
}

.skillcontainer{
  padding: 12px;
}

.skillItem{
  display: flex;
  align-items: center;
}

 .skill{
  width: 265px;
  height: 6px;
  background-color: red ;
  border: 2px solid black;
 }
 
 .hundred{
  width: 265px;
  background-color: burlywood;
 }

 .fifty{
  width: 125px;
  background-color: aqua;
 }

 .t5{
  width: 75px;
  background-color: blue;
 }

  .sidebarGo{
     transform: translate(-443px, 0px);
      position: absolute;
    }

 .hamburger{
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
 }

 

 @media (max-width: 1615px) {
  *{
 /* background-color:rgb(230, 146, 146);*/
  }
    /* .sidebar{
     transform: translate(-443px, 0px);
      position: absolute;
    }
    */
 }


 
